{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }} {{ event.year }} | {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ event.description }}">
    <meta name="keywords" content="{{ event.keywords }}">
    <meta name="author" content="{{ event.author }}">
    
    <!-- Open Graph Metadata for Social Sharing -->
    <meta property="og:title" content="{{ event.name }} {{ event.year }}">
    <meta property="og:description" content="{{ event.description }}">
    <meta property="og:image" content="{{ event.og_image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>

<body>

  <header class="fixed inset-x-0 top-0 z-50 bg-white shadow">
    <nav class="flex items-center justify-between p-6 lg:px-8">
      <div class="flex lg:flex-1">
        <a href="{% url 'index' %}" class="-m-0.5 p-0.5">
          <span class="sr-only">{{ event.name }}</span>
          {% if event.event_logo %}
          <img src="{{ event.event_logo.url }}" alt="{{ event.name }}" class="w-12 h-12">
          {% else %}
          <h1 class="text-xl font-bold">{{ event.name }} {{ event.year }}</h1>
          {% endif %}
        </a>
      </div>
      <div class="lg:hidden text-center py-2">
        <span class ="text-xl font-bold text-gray-800">
          <a href="{% url 'registration:home' event.id %}">{{ event.name }} {{ event.year }}
          </a>
          </span>
      </div>
      <div class="hidden lg:flex lg:gap-x-14">
        <a href="{% url 'registration:about' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">About</a>
        <a href="{% url 'registration:invitation' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Invitation</a>
        <a href="{% url 'registration:speakers' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Speakers</a>
        <a href="{% url 'registration:schedule' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Schedule</a>
        <a href="{% url 'registration:participant_list' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Participants</a>
        <a href="{% url 'registration:publication_list' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Publication</a>
        
        {% if user.is_authenticated %}
        <a href="{% url 'registration:abstract_submission' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Abstract Submission</a>
        {% else %}
        <a href="{% url 'registration:registration' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Registration</a>
        {% endif %}
        <a href="{% url 'registration:sponsor_list' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Sponsorship</a>
        <a href="{% url 'registration:event_gallery' event.id %}" class="text-sm font-semibold leading-6 text-gray-900">Gallery</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        {% if user.is_authenticated %}
          <span class="text-sm font-semibold leading-6 text-gray-900"></span>
          <a href="{% url 'logout' %}" class="ml-4 text-sm font-semibold leading-6 text-gray-900">Logout</a>
          <span class="ml-1 text-sm font-semibold leading-6 text-gray-900">|</span>
          <a href="{% url 'user_profile' %}" class="ml-1 text-sm font-semibold leading-6 text-gray-900">User Profile</a>
        {% else %}
          <a href="{% url 'registration:login' event.id%}" class="text-sm font-semibold leading-6 text-gray-900">Login</a>
        {% endif %}
      </div>
      <div class="lg:hidden">
        <button type="button" class="text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900" aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMenu()">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </nav>

    <div class="lg:hidden" id="mobile-menu" style="display: none;">      
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="{% url 'registration:about' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">About</a>
        <a href="{% url 'registration:invitation' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Invitation</a>
        <a href="{% url 'registration:speakers' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Speakers</a>
        <a href="{% url 'registration:schedule' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Schedule</a>
        <a href="{% url 'registration:participant_list' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Participants</a>
        <a href="{% url 'registration:publication_list' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Publication</a>
        {% if user.is_authenticated %}
        <a href="{% url 'registration:abstract_submission' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Abstract Submission</a>
        {% else %}
        <a href="{% url 'registration:registration' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Registration</a>
        {% endif %}
        <a href="{% url 'registration:sponsor_list' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Sponsorship</a>
        <a href="{% url 'registration:event_gallery' event.id %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Gallery</a>
        {% if user.is_authenticated %}
          <a href="{% url 'user_profile' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Profile</a>
          <a href="{% url 'logout' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Login</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="pt-16">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="py-8 bg-gray-200 text-center">
    <div class="text-gray-700">
        <p>© {{ event.year }} {{ event.name }}. All rights reserved.</p>
        <p>Follow us on our social channels.</p>
        {% comment %} <a href={% url 'django.contrib.sitemaps.views.sitemap' %} class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Sitemap</a> {% endcomment %}
        <div class="flex justify-center space-x-4 mt-4">
            <a href="https://www.facebook.com/BSBreastCS" class="text-blue-600 hover:text-blue-800" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.youtube.com/@bsbcs" class="text-red-600 hover:text-red-800" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
        </div>
    </div>
  </footer>


  <script>
    function toggleMenu() {
      var menu = document.getElementById('mobile-menu');
      if (menu.style.display === 'none' || menu.style.display === '') {
        menu.style.display = 'block';
      } else {
        menu.style.display = 'none';
      }
    }
  </script>

</body>
</html>
