{% extends "gene_base.html" %}

{% block title %}Speakers{% endblock %}

{% block content %}
<div class="relative bg-gradient-to-br from-pink-500 to-red-500 text-white pt-20 pb-10">
    <div class="mx-auto max-w-full text-center px-4">
        <h1 class="text-4xl sm:text-6xl font-extrabold md-10">Speakers of the {{ event.name }} {{ event.year }}</h1>
        <p class="mt-4 text-lg">{{ event.slogan }}</p>
    </div>
</div>
<br/>
{% comment %} <div class="max-w-full mx-4 px-4 py-20">
    <h2 class="text-3xl sm:text-4xl font-bold bg-pink-500 py-4 text-gray-900 text-center mb-4">Speakers</h2>
</div> {% endcomment %}
<div class="max-w-full mx-2 px-2">
    <div class="grid grid-cols-1 sm:grid-cols-12 gap-8 px-6">
        {% for speaker in speakers %}
        <div class="sm:col-span-3 flex flex-col items-center border-t border-b border-gray-300 column-border first:border-t-0 last:border-b-0 p-4">
            <img src="{{ speaker.image.url }}" alt="{{ speaker.name }}" class="w-32 h-32 rounded-full">
            <p class="mt-2 text-xl text-center font-semibold">{{ speaker.name }}</p>
            <p class="text-sm">{{ speaker.speciality }}</p>
            <p class="text-sm">{{ speaker.institution }}</p>
        </div>
        <div class="sm:col-span-9 flex items-center border-t border-b border-gray-300 column-border first:border-t-0 last:border-b-0 p-4 text-justify">
            <p class="center-text">{{ speaker.biography }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
